<launch>
      <!-- Include the hslam_ros Launch -->
    <include file="$(find hslam_ros)/launch/hslam_live.launch">
        <arg name="image_topic" value="/camera/color/image_raw" />
        <arg name="calib_file" value="/media/sf_datasets/ficosa_for_hslam/camera_ficosa.txt" />
    </include>

    <!-- Include the Image Publisher -->
    <include file="$(find image_publisher)/launch/publish_images.launch">
        <arg name="image_dir" value="/media/sf_datasets/ficosa_for_hslam/ficosa_may1/video0/images.zip" />
        <arg name="times_file" value="/media/sf_datasets/ficosa_for_hslam/ficosa_may1/video0/times.txt" />
        <arg name="publish_rate" value="20" />
    </include>

    <!-- Include the GPS Publisher -->
    <node pkg="gps_hslam" name="gps_publisher_node" type="gps_publisher_node.py" output="screen">
        <param name="gps_file_path" value="/media/sf_datasets/ficosa_for_hslam/ficosa_may1/gps_data.csv"/>
        <param name="hslam_pose_topic" value="/hslam/pose" />
    </node>

    <!-- Launch Fake Velocity Publisher -->
    <!-- <node pkg="gps_hslam" type="fake_velocity_publisher.py" name="fake_velocity_publisher" output="screen"/> -->
    
    <!-- Include the UKF Node Launch -->
    <!-- <include file="$(find gps_hslam)/launch/dual_ukf_navsat.launch"/> -->

    <node pkg="gps_hslam" type="pose-transformer.py" name="gps_transformer_node" >
        <param name="gps_pose_topic" value="/gps/pose" />
        <param name="hslam_pose_topic" value="/hslam/pose" />
        <param name="transfromed_gps_pose_topic" value="/transformed_gps_pose" />
        <param name="gps_frame" value="map" />
        <param name="slam_frame" value="odom" />
    </node>

    <!-- <node pkg="gps_hslam" type="scale_estimator.py" name="scale_estimator_node" output="screen" /> -->
   
    <!-- Include the Transform Publisher -->
     <!--JSON Transform Publisher -->
    <node pkg="gps_hslam" type="publish_transforms.py" name="publish_transforms_node" output="screen">
        <param name="odom_to_baselink_json" value="$(find gps_hslam)/utils/transformations/No_transformation.json"/>
        <param name="map_to_odom_json" value="$(find gps_hslam)/utils/transformations/transformation_matrix_HSLAM-to-FICOSA.json"/>
    </node>
    <!-- Static Transform Publisher for map -> odom -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="static_map_to_odom" args="0 0 0 0.01257 −0.00216 −1.9514 map odom 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="static_map_to_odom" args="0 0 0 0 0 0  map odom 100" /> -->

    <!-- Static Transform Publisher for odom -> base_link -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="static_odom_to_base_link" args="0 0 0 0 0 0.01256 odom base_link 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="static_odom_to_base_link" args="0 0 0 0 0 0  odom base_link 100" /> -->

     <!-- Launch NSEW marker visualization node -->
    <node pkg="gps_hslam" type="direction_markers.py" name="nsew_publisher" output="screen"/>

    <!-- Launch RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find gps_hslam)/config/config.rviz"/>

</launch>
