<launch>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">

        <param name="frequency" value="20" />

        <param name="magnetic_declination_radians" value="0.03123" />

        <!-- Miscellaneous parameters -->
        <param name="use_odometry_yaw" value="false" />
        <param name="yaw_offset" value="0.0" />
        <param name="zero_altitude" value="false" />
        <param name="broadcast_cartesian_transform" value="true" />
        <param name="publish_filtered_gps" value="true" />
        <param name="wait_for_datum" value="false" />

        <!-- Transform tolerances -->
        <param name="transform_timeout" value="0.1" />

    <!-- <remap from="/gps/imu" to="/gps/imu" /> -->
    <!-- <remap from="/gps/fix" to="/gps/fix" /> -->
    <!-- <remap from="/odometry/filtered" to="/hslam/odom" /> -->

  </node>

</launch>