
<launch>
  <!-- Launch the UKF Node -->
  <!-- <node pkg="robot_localization" type="ukf_localization_node" name="ukf_Local_filter_node" output="screen">
    <rosparam command="load" file="$(find ukf_localization)/config/ukf_config.yaml"/>
  </node> -->
   <!-- Launch the UKF Node -->
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_global_filter_node" output="screen">
    <!-- <rosparam command="load" file="$(find ukf_localization)/config/ukf2_config.yaml"/> -->
    <rosparam command="load" file="$(find ukf_localization)/config/dual_ekf_navsat_example.yaml"/>

  </node>
</launch>
