<launch>
    <!-- Essential Arguments -->
    <arg name="image_topic" default="/camera/color/image_raw" />
    <!--arg name="calib_file" default="$(env HOME)/hslam_ros_ws/res/camera.txt" /-->
    <arg name="calib_file" default="$(env HOME)/hslam_ros_ws/res/camera.txt" />

     <!-- Optional Arguments -->
        <arg name="gamma_file" default="" />
        <arg name="vignette_file" default="" />
        <arg name="saveFile" default="" />
        <arg name="vocabPath" default="" />
        <arg name="useSampleOutput" default="false" />
        <arg name="mode" default="2" />
        <arg name="preset" default="0" />
        <arg name="quiet" default="false" />
        <arg name="loopClosure" default="false" />
        <arg name="noLog" default="false" />

    <!-- hslam_live Node -->
       <node name="hslam_live" pkg="hslam_ros" type="hslam_live" output="screen"
          args="image:=$(arg image_topic) calib=$(arg calib_file) gamma=$(arg gamma_file) vignette=$(arg vignette_file)">
        </node>

</launch>
